<template lang="pug">
.container
	.uk-flex.uk-flex-middle.uk-flex-center
		.uk-text-center
			img(src="../assets/images/biohazard.svg" width="175px")
			h1.title Conflicts With Picts  
			h1.subtitle.uk-margin-small-top Bricks in the Hadrian Wall
			button.uk-button.uk-button-primary.uk-margin-small-right(href='#modal-sections' uk-toggle) Iconoclasm

			#modal-sections(uk-modal)
				.uk-modal-dialog.uk-margin-auto-vertical
					button.uk-modal-close-default(type='button' uk-close)
					.uk-modal-header
						h2.uk-modal-title
							i.material-icons.md-48.uk-margin-small-right directions_bike
							| Engenho Novo LLC
					.uk-modal-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.uk-modal-footer.uk-text-right
						button.uk-button.uk-button-secondary.uk-modal-close.uk-margin-small-right(type='button') Rechaçar
						button.uk-button.uk-button-primary.uk-modal-close(type='button') Aceitar


			button.uk-button.uk-button-secondary.uk-margin-small-right Iconolatry
			button.uk-button.uk-button-primary(href="/about") Iconomachy

</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
	components: {
		Logo
	}
}
</script>

<style>

.container {
	min-height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	font-family: 'News Cycle', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	display: block;
	font-weight: 300;
	font-size: 50px;
}

.subtitle {
	font-family: "News Cycle", sans-serif;
	font-weight: 300;
	font-size: 28px;
	padding-bottom: 15px;
}

.links {
	padding-top: 15px;
}

</style>
